ENV=development
MYSQL_DB_USER=test
MYSQL_DB_PASSWORD=test
MYSQL_DB_HOST=localhost
MYSQL_DB_DATABASE=database
# JSON Web Token. To generate a new secret code use:  https://gist.github.com/didip/823887
JWT_SECRET=MY_SECRET
JWT_ALGORITHM=JWT_ALGORITHM