export ENV=development
export MYSQL_DB_USER=test
export MYSQL_DB_PASSWORD=test
export MYSQL_DB_HOST=localhost
export MYSQL_DB_DATABASE=database
# JSON Web Token. To generate a new secret code use:  https://gist.github.com/didip/823887
export JWT_SECRET=MY_SECRET
export JWT_ALGORITHM=JWT_ALGORITHM