FLASK_ENV=development
ENVIRONMENT=DevelopmentConfig
SERVER_HOST=0.0.0.0
SERVER_PORT=5001
MYSQL_DB_USER=USER
MYSQL_DB_PASSWORD=PASSWORD
MYSQL_DB_HOST=172.17.0.1
MYSQL_DB_PORT=9004
MYSQL_DB_DATABASE=DATABASE
JWT_SECRET=SECRET
JWT_ALGORITHM=ALGORITHM
DOWNLOAD_URL=http://cdsr.dpi.inpe.br/datastore
# a fake user to use inside the test cases
TEST_USER_EMAIL=test@localhost.com
TEST_USER_PASSWORD=test
